body {
  height: 100vh;
  background-image: linear-gradient(180deg, rgb(113, 219, 113), rgb(16, 119, 16));
  display: flex;
  justify-content: center;
  align-items: start;
}
.status {
  margin-top: 50px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 200px;
  height: 50px;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 20px;
  margin-left: 45px;
  
}
.game-board {
  align-items: center;
  justify-content: center;
}
.entire-board {
  margin-top: 50px;
  justify-content: center;
  background-color: tan;
  max-width: 300px;
  max-height: 300px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  transition: ease-in-out 0.1s;
}

.square:hover {
  background-color: rgb(65, 46, 17);
  cursor: pointer;
  color: white;
  transform: scale(1.1);

}
.symbol {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 700;
}
.board-row {
  max-width: 300px;
  max-height: 100px;
  
}
